<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Message Bus Http Bridge</display-name>

    <servlet>
        <servlet-name>httpBridge</servlet-name>
        <servlet-class>com.messagebus.httpbridge.controller.HttpBridge</servlet-class>
        <async-supported>true</async-supported>
        <!--<load-on-startup>1</load-on-startup>-->
    </servlet>

    <servlet-mapping>
        <servlet-name>httpBridge</servlet-name>
        <url-pattern>/messagebus/*</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>urlDispatcher</filter-name>
        <filter-class>com.messagebus.httpbridge.filter.URLDispatcher</filter-class>
        <async-supported>true</async-supported>
    </filter>

    <filter-mapping>
        <filter-name>urlDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <receiveListener>
        <receiveListener-class>com.messagebus.httpbridge.receiveListener.AppContextListener</receiveListener-class>
    </receiveListener>

</web-app>