<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Message Bus Http Bridge</display-name>

    <context-param>
        <param-name>pubsuberHost</param-name>
        <param-value>172.16.206.250</param-value>
    </context-param>

    <context-param>
        <param-name>pubsuberPort</param-name>
        <param-value>6379</param-value>
    </context-param>

    <context-param>
        <param-name>messagebuspool.maxtotal</param-name>
        <param-value>200</param-value>
    </context-param>

    <servlet>
        <servlet-name>httpBridge</servlet-name>
        <servlet-class>com.messagebus.httpbridge.controller.HttpBridge</servlet-class>
        <async-supported>true</async-supported>
    </servlet>

    <servlet>
        <servlet-name>exception</servlet-name>
        <servlet-class>com.messagebus.httpbridge.controller.ExceptionHandler</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>httpBridge</servlet-name>
        <url-pattern>/messagebus/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>exception</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>urlDispatcher</filter-name>
        <filter-class>com.messagebus.httpbridge.filter.URLDispatcher</filter-class>
        <async-supported>true</async-supported>
    </filter>

    <filter-mapping>
        <filter-name>urlDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.messagebus.httpbridge.listener.AppContextListener</listener-class>
    </listener>
    
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error</location>
    </error-page>

</web-app>